{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Password Change Done
{% endblock title %}

{% block main-content %}
<div class="container my-5">
<div class="row">
<h3 class="mt-3">Welcome {{request.user.username}}</h3>
<div class="col-sm-2 border-end">

	<ul class="list-unstyled">
		<li class="d-grid">
			<a href="{% url 'profile' %}" class="btn btn-primary">Goto Profile</a>
		</li>
	</ul>
</div>
<div class="col-sm-9 offset-sm-1 text-center">
	<h3 class="text-success">Password Changed Successfully</h3>
	<div>
		<iframe src="https://giphy.com/embed/ibo1Le3mOqHE3PQTtk" width="200px" height="200px" frameborder="0" class="giphy-embed" allowFullScreen></iframe>
	</div>
</div>
</div> 		
</div>
{% endblock main-content %}